beautifulsoup4==4.13.4 ; python_version >= "3.11" and python_version < "3.13"
bs4==0.0.2 ; python_version >= "3.11" and python_version < "3.13"
certifi==2025.4.26 ; python_version >= "3.11" and python_version < "3.13"
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_version < "3.13"
click==8.2.0 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_version < "3.13"
deepl==1.22.0 ; python_version >= "3.11" and python_version < "3.13"
dotenv==0.9.9 ; python_version >= "3.11" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
greenlet==3.2.2 ; python_version >= "3.11" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
idna==3.10 ; python_version >= "3.11" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.13"
marshmallow==3.26.1 ; python_version >= "3.11" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.13"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.11" and python_version < "3.13"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.1.0 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
rich==14.0.0 ; python_version >= "3.11" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.13"
soupsieve==2.7 ; python_version >= "3.11" and python_version < "3.13"
sqlalchemy==2.0.40 ; python_version >= "3.11" and python_version < "3.13"
tencentcloud-sdk-python-common==3.0.1377 ; python_version >= "3.11" and python_version < "3.13"
tencentcloud-sdk-python-tmt==3.0.1377 ; python_version >= "3.11" and python_version < "3.13"
tinydb==4.8.2 ; python_version >= "3.11" and python_version < "3.13"
tomli==2.2.1 ; python_version >= "3.11" and python_version < "3.13"
typer==0.15.3 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.4.0 ; python_version >= "3.11" and python_version < "3.13"
